.topbar__add {
    padding: 2rem;
}

.button_add {
    background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
}

.button_add {
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
}

.button_add:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    outline: none;
}